src/utils/vector.o
src/.deps
src/main.o
src/modulos/digito.o
src/modulos/knn.o
src/modulos/pca.o
src/modulos/pls_da.o
src/modulos/levanta_datos.o
src/modulos/identificador.o
modulos/levanta_datos.o
modulos/identificador.o
src/tp
src/scripts/__init__.pyc
src/scripts/fabricate.pyc
src/scripts/settings.pyc
src/scripts/utils.pyc
data/test.csv
data/train.csv
src/data
/src/utils/matriz.o
src/modulos/escupe_datos.o
src/utils/knn.o
src/utils/digito.o
src/tests/test1.in_autovalores
src/tests/test1.in_ciclos
src/tests/test1.in_hit_rates
src/tests/test1.in_matrices_confusion
src/tests/test1.out
src/scripts/tptests.pyc
src/tests/asd
src/tests/fold10.in
src/tests/fold10.in_autovalores
src/tests/fold10.in_ciclos
src/tests/fold10.in_hit_rates
src/tests/fold10.in_matrices_confusion
src/tests/test1.in_precision
src/tests/test1.in_recall
